
    <h1>Cats</h1>

    <ul>
        <% for (let i=0; i < cats.length; i++) { %>
            <li>
                <h2>
                    <%= cats[i].name %>
                </h2>
                <h2>
                    <%= cats[i].age %>
                </h2>
                <h2>
                    <%= cats[i].color %>
                </h2>
            </li>
            <% } %>
    </ul>
