<h1>
    Random Nomor : <%= randomNum %>
        <% if (randomNum % 2===0) { %>
            <p>Genap</p>
            <% } else { %>
                <p>Ganjil</p>
                <% } %>

</h1>

<h1>
    That Number is : <%= randomNum%2===0 ? "Genap" : "Ganjil" %>
</h1>